<div class = "profile-content">
	<div class="profile-picture-container">
		<div class="profile-picture">
			<img src="">
		</div>
		<div class="profile-name">
			Test
		</div>
		<div class="profile-socials">
			<div class = "tourist-item-socials-row">
				<div class="tourist-social-item" [hidden]="false">
					<a href="" target="_blank">
						<div class = "tourist-social-icon-cont" [inlineSVG]="'img-social/vk.svg'"></div>
					</a>
				</div>

				<div class="tourist-social-item" [hidden]="false">
					<a href="viber://chat?number=" target="_blank">
						<div class = "tourist-social-icon-cont" [inlineSVG]="'img-social/viber.svg'"></div>
					</a>
				</div>

				<div class="tourist-social-item" [hidden]="false">
					<a href="" target="_blank">
						<div class = "tourist-social-icon-cont" [inlineSVG]="'img-social/instagram.svg'"></div>
					</a>
				</div>

			</div>
		</div>
		<div class="profile-title">
			Контакты
		</div>
		<div class="profile-contacts">
			
		</div>
	</div>
	<div class="profile-info-container">
		
	</div>
</div>