@import '../../variables.scss';

.page-input-container{
	margin-top: 40px;
}

.upload-text{
	color: $gray;
	font-size: $text-small;
}

.buttons-holder{
	margin-top: 25px;

	.button-default{
		margin-right: 20px;
	}
}
